<%= turbo_frame_tag "ratings" do %>
  <table id='ratings'>
    <thead>
      <tr>
        <th>Player</th>
        <th>Rating</th>
        <th><abbr title="Wins">W</abbr></th>
        <th><abbr title="Losses">L</abbr></th>
        <% if @game.allow_ties %>
          <th><abbr title="Ties">T</abbr></th>
        <% end %>
        <th><abbr title="Total Games">G</abbr></th>
        <th><abbr title="Win Percentage">Pct</abbr></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'games/rating', collection: @game.all_ratings %>
    </tbody>
  </table>
<% end %>
